article section {
    padding: 10vh 0 10vh 30px;
    ;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section.normal{
box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
background-attachment: fixed;
}

section.normal p {
    padding-bottom: 1em;
    text-shadow: 1px 1 px 0px black;
    background-color: rgba(24, 24, 24, 0.336);
    width: 50%;
}

article section#imagem {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
}

article section#imagem02 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    font-family: var(--font1);
}